* {
    padding: 0;
    margin: 0;
}

#game_background {
    background-image: url(img/Background.svg);
    background-size: 100%;
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 56.25vw;
    z-index: -100;
}

#mainpoop {
    background-image: url(img/Main%20Poo.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 34.5vw;
    top: 15vw;
    left: 0vw;
}

#poo {
    background-image: url(img/Poo.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 45vw;
    width: 10vw;
    height: 5vw;
}



#slimepoop {
    background-image: url(img/Slimepoop.svg);
    background-size: 100%;
    position: absolute;
    top: 19vw;
    left: 47vw;
    width: 10vw;
    height: 11vw;
}

#rotte {
    background-image: url(img/Rotte.svg);
    background-size: 100%;
    position: absolute;
    width: 9vw;
    height: 11.5vw;
    top: 19.5vw;
    left: 30vw;
    z-index: -1;
}

#evil_eyes {
    background-image: url(img/Evil%20eyes.svg);
    background-size: 100%;
    position: absolute;
    top: 14vw;
    left: 45vw;
    width: 7vw;
    height: 3vw;
    z-index: -1
}

#energy {
    background-image: url(img/Poop%20Hearth.svg);
    background-size: 100%;
    position: absolute;
    top: 1vw;
    left: 4vw;
    width: 10vw;
    height: 10vw;
}

#energy2 {
    background-image: url(img/%C2%BD%20Poop%20Hearth.svg);
    background-size: 100%;
    position: absolute;
    top: 1vw;
    left: 13vw;
    width: 8vw;
    height: 10vw;
}


#points {
    background-image: url(img/Hus%205-5.svg);
    background-size: 100%;
    position: absolute;
    top: 35vw;
    left: 79vw;
    width: 20vw;
    height: 20vw;
}

#settingsicon {
    background-image: url(img/Settings.svg);
    background-size: 100%;
    position: absolute;
    top: 1vw;
    left: 85vw;
    width: 10vw;
    height: 10vw;
}

#settings {
    background-image: url(img/settingsMenu.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 60vw;
    height: 35vw;
    overflow: hidden;
    z-index: -101;
}

#gameover {
    background-image: url(img/Gameover.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 60vw;
    height: 36vw;
    overflow: hidden;

}

#menu_background {
    background-image: url(img/Titelsk%C3%A6rm.svg);
    background-size: 100%;
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 56.25vw;
    z-index: 1;

}

#levelcomplete {
    background-image: url(img/Win.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 60vw;
    height: 36vw;
}

.hide {
    display: none;
}

/*--------------------- Class tags til animation -------------------------*/
.menu_just_do_it {
    animation-name: menu_just_do_it;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.eyes {
    animation-name: eyes;
    animation-duration: 2s;
    animation-iteration-count: 5;

    animation-delay: 5s;
}

.fall_down {
    animation-name: fall_down;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.rat_race {
    animation-name: rat_race;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.hide {
    display: none;
}

.shake {
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    animation-delay: 5s;

}

/* ---------------------Keyframes--------------------  */
@keyframes eyes {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}


@keyframes fall_down {
    0% {
        transform: translateY(-50vw)
    }

    100% {
        transform: translatey(100vw);
    }
}

@keyframes rat_race {
    0% {
        transform: translateX(5vw) translateY(-5vw);
    }

    25% {
        transform: translateY(-13vw);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: translateX(-16vw) translateY(20vw);
    }
}

@keyframes menu_just_do_it {
    0% {
        transform: rotatey(0deg);
        opacity: 1;

    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotatey(360deg);
        opacity: 0;

    }
}

@keyframes shake {
    0% {
        transform: rotate(360deg);
    }




    100% {
        transform: rotate(-360deg);
    }
}
