* {
    padding: 0;
    margin: 0;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#game_background {

    overflow: hidden;
    background-image: url(img/Background.svg);
    background-size: 100%;
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;


}

#mainpoop {
    background-image: url(img/Main%20Poo.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 34.5vw;
    top: 15vw;
    left: 0vw;
}

#poo {

    position: absolute;


}

.poo_sprite {
    background-image: url(img/Poo.svg);
    background-size: 100%;
    top: -10vw;
    left: 45vw;
    width: 10vw;
    height: 5vw;
    cursor: -webkit-grab;
    cursor: grab;

}



#slimepoop {
    background-image: url(img/Slimepoop.svg);
    background-size: 100%;
    position: absolute;
    top: -11vw;
    left: 55vw;
    width: 10vw;
    height: 11vw;
    cursor: pointer;
}

#rotte {
    background-image: url(img/Rotte.svg);
    background-size: 100%;
    position: absolute;
    width: 9vw;
    height: 11.5vw;
    top: 19.5vw;
    left: 30vw;
    cursor: -webkit-grab;
    cursor: grab;


}

#evil_eyes {
    background-image: url(img/Evil%20eyes.svg);
    background-size: 100%;
    position: absolute;
    top: 14vw;
    left: 45vw;
    width: 7vw;
    height: 3vw;

}

#energy {
    background-image: url(img/Poop%20Hearth.svg);
    background-size: 100%;
    position: absolute;
    top: 1vw;
    left: 4vw;
    width: 10vw;
    height: 10vw;
    cursor: grab;
}

#energy2 {
    background-image: url(img/%C2%BD%20Poop%20Hearth.svg);
    background-size: 100%;
    position: absolute;
    top: 1vw;
    left: 13vw;
    width: 8vw;
    height: 10vw;
}


#points {
    background-image: url(img/Hus%205-5.svg);
    background-size: 100%;
    position: absolute;
    top: 35vw;
    left: 79vw;
    width: 20vw;
    height: 20vw;
    cursor: help;
}

#settingsicon {
    background-image: url(img/Settings.svg);
    background-size: 100%;
    position: absolute;
    top: 1vw;
    left: 85vw;
    width: 10vw;
    height: 10vw;
    cursor: pointer;

}

#settings {
    background-image: url(img/settingsMenu.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 60vw;
    height: 35vw;

}

#gameOver {
    background-image: url(img/Gameover.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 60vw;
    height: 36vw;
    overflow: hidden;

}

#start {
    background-image: url(img/Titelsk%C3%A6rm.svg);
    background-size: 100%;
    position: absolute;
    top: -0.2vw;
    left: 0vw;
    width: 100vw;
    height: 56.25vw;


}

#play {
    position: absolute;
    width: 20vw;
    height: 7.5vw;
    background-image: url(img/play.svg);
    background-size: 100%;
    left: 39vw;
    top: 33vw;
    cursor: pointer;
}

#exit {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-image: url(img/Exit.svg);
    background-size: 100%;
    left: 50vw;
    top: 1vw;
    cursor: pointer;
}

#exit2 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-image: url(img/Exit.svg);
    background-size: 100%;
    left: 50vw;
    top: 1vw;
    cursor: pointer;
}

#exit3 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-image: url(img/Exit.svg);
    background-size: 100%;
    left: 50vw;
    top: 1vw;
    cursor: pointer;
}

#levelcomplete {
    background-image: url(img/Win.svg);
    background-size: 100%;
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 60vw;
    height: 36vw;
}

#restart {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-image: url(img/restart.svg);
    background-size: 100%;
    left: 45vw;
    top: 20vw;
    cursor: pointer;
    z-index: 100;
}

.hide {
    display: none;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.paused {
    animation-play-state: paused;
}

/*--------------------- Class tags til animation -------------------------*/
.menu_just_do_it {
    animation-name: menu_just_do_it;
    animation-duration: 2s;
    animation-iteration-count 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.eyes {
    animation-name: eyes;
    animation-duration: 2s;
    animation-iteration-count: 5;

    animation-delay: 5s;
}

.falling {
    animation-name: fall_down;
    animation-duration: 14s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.rat_race {
    animation-name: rat_race;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: ;
}

.hide {
    display: none;
}

.shake {
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: 10;
    animation-delay: 0;

}

.onehp {
    animation-name: onehp;
    animation-duration: 1s;
    animation-iteration-count: infinite;


}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}



/* ---------------------Keyframes--------------------  */
@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}




@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes eyes {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}


@keyframes fall_down {
    0% {
        transform: translateY(-50vw)
    }

    100% {
        transform: translatey(100vw);
    }
}

@keyframes rat_race {
    0% {
        opacity: 0;
        transform: translateX(5vw) translateY(-5vw);
    }

    25% {
        opacity: 1;
        transform: translateY(-13vw);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: translateX(-16vw) translateY(20vw);
    }
}

@keyframes menu_just_do_it {
    0% {
        transform: rotatey(0deg);
        opacity: 1;

    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotatey(360deg);
        opacity: 0;

    }
}

@keyframes shake {
    0% {
        transform:
    }


    100% {
        transform: translatey(-2vw) translatex(2vw);
    }
}

@keyframes onehp {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes fade {
    0% {
        1
    }

    100% {
        0
    }
}
